# Vim
*.swp
*.swo
*~
*.un~

# ctags
tags
.tmtags

# OS X
.DS_Store

# Build output
*.hi
*.o
*.pyc

# IDEs
.idea
*_flymake.*
config/projections.json
.projections.json
.byebug_history

# Environment
.env
.bundle*
bin/
.vagrant
.pry-local.rb
.tool-versions

# Awfulness
node_modules/
