[submodule ".vim/bundle/t_comment.vim"]
	path = .vim/bundle/t_comment.vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-narrow.git"]
	path = .vim/bundle/vim-narrow.git
	url = https://github.com/kana/vim-narrow.git
[submodule ".vim/bundle/yank-ring"]
	path = .vim/bundle/yank-ring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/go.vim"]
	path = .vim/bundle/go.vim
	url = https://github.com/jnwhiteh/vim-golang
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-textobj-rubyblock"]
	path = .vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule ".vim/bundle/vim-align"]
	path = .vim/bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule ".vim/bundle/zoomwin"]
	path = .vim/bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/clojure"]
	path = .vim/bundle/clojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vim-slime"]
	path = .vim/bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule ".vim/bundle/vim-vroom"]
	path = .vim/bundle/vim-vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule ".vim/bundle/vimux"]
	path = .vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule ".vim/bundle/paredit"]
	path = .vim/bundle/paredit
	url = git://github.com/vim-scripts/paredit.vim.git
[submodule ".vim/bundle/vim-ruby-xmpfilter"]
	path = .vim/bundle/vim-ruby-xmpfilter
	url = git://github.com/t9md/vim-ruby-xmpfilter.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/switch.vim"]
	path = .vim/bundle/switch.vim
	url = git://github.com/AndrewRadev/switch.vim.git
[submodule ".vim/bundle/splitjoin.vim"]
	path = .vim/bundle/splitjoin.vim
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-classpath"]
	path = .vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/vim-tbone"]
	path = .vim/bundle/vim-tbone
	url = git://github.com/tpope/vim-tbone.git
[submodule ".vim/bundle/vim-ruby-refactoring"]
	path = .vim/bundle/vim-ruby-refactoring
	url = https://github.com/rking/vim-ruby-refactoring
[submodule "/.vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/taskpaper.vim"]
	path = .vim/bundle/taskpaper.vim
	url = git@github.com:davidoc/taskpaper.vim.git
[submodule "/.vim/bundle/funcoo.vim"]
	path = .vim/bundle/funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "/.vim/bundle/dash.vim"]
	path = .vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule ".vim/bundle/vimoutliner"]
	path = .vim/bundle/vimoutliner
	url = git@github.com:vimoutliner/vimoutliner.git
[submodule ".vim/bundle/hardmode"]
	path = .vim/bundle/hardmode
	url = git@github.com:wikitopian/hardmode.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-markdown-folding"]
	path = .vim/bundle/vim-markdown-folding
	url = git@github.com:nelstrom/vim-markdown-folding.git
[submodule ".vim/bundle/thrift"]
	path = .vim/bundle/thrift
	url = https://github.com/sprsquish/thrift.vim
[submodule ".vim/bundle/vim-colors-pencil"]
	path = .vim/bundle/vim-colors-pencil
	url = git@github.com:reedes/vim-colors-pencil.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/ctrlp-funky"]
	path = .vim/bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule ".vim/bundle/vim-scriptease"]
	path = .vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule ".vim/bundle/vim-leiningen"]
	path = .vim/bundle/vim-leiningen
	url = https://github.com/tpope/vim-leiningen.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/elixir-snippets"]
	path = .vim/bundle/elixir-snippets
	url = https://github.com/carlosgaldino/elixir-snippets.git
[submodule ".vim/bundle/life-dfm"]
	path = .vim/bundle/life-dfm
	url = https://github.com/bilalq/lite-dfm.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-bracketed-paste"]
	path = .vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/vim-cljfmt"]
	path = .vim/bundle/vim-cljfmt
	url = https://github.com/venantius/vim-cljfmt.git
[submodule ".vim/bundle/vim-eastwood"]
	path = .vim/bundle/vim-eastwood
	url = https://github.com/venantius/vim-eastwood.git
[submodule "/Users/adam/.vim/bundle/rooter.vim"]
	path = /Users/adam/.vim/bundle/rooter.vim
	url = https://github.com/airblade/vim-rooter.git
