"*":
  "atom-fuzzy-grep":
    grepCommandString: "rg -i -n -H --no-heading --column"
  "atom-package-deps":
    ignored: []
  "atom-typescript":
    showSemanticView: true
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/bin"
  "city-lights-ui": {}
  core:
    disabledPackages: [
      "vim-mode-plus-ex-mode"
      "bracket-matcher"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  elm:
    formatOnSave: true
    showErrorNotifications: false
  "exception-reporting":
    userId: "948c4582-8dad-bcee-bfae-179b242d36a2"
  "flow-ide": {}
  "git-blame":
    columnWidth: 226
  "goto-definition":
    performanceMode: true
  "graphviz-preview-plus":
    useGraphvizCommandLine: true
  "isotope-ui":
    backgroundGradient: true
    lowContrastTooltip: true
    minimalMode: true
    tabSizing: "Minimum"
  "language-babel":
    autoIndentJSX: true
  linter:
    lintOnChange: false
    lintPreviewTabs: false
  "linter-eslint":
    globalNodePath: "/Users/adam/.asdf/installs/nodejs/10.3.0/.npm"
    useGlobalEslint: true
  "linter-rubocop":
    command: "/Users/adam/.asdf/shims/rubocop"
    disableWhenNoConfigFile: true
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
  "lisp-paredit": {}
  metrics:
    userId: "ce5ced5d985372e1e8ac47a5200dafcb6118f10d"
  "one-light-ui":
    tabCloseButton: "Left"
  react: {}
  "seti-icons":
    noColor: true
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  "vim-mode-plus":
    charactersToAddSpaceOnSurround: [
      "("
      "{"
      "["
      "<"
    ]
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
