# Global mise tools config
# Symlink to ~/.config/mise/config.toml
# mise u tool@version

[tools]
go = "latest"
node = "latest"
ruby = "latest"
python = "latest"
deno = "latest"
"gem:rails" = "latest"
"gem:bundler" = "latest"
bun = "latest"

[settings]
experimental = true
